<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="test" >
        <classes>
            <class name="hillel.homework13.HoversTest" />
            <class name="hillel.homework12.ChallengingDomTest" />
            <class name="hillel.homework12.GeolocationTest" />
            <class name="hillel.homework12.LoginTest" />
        </classes>
    </test>
</suite>