<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <parameter name="login" value="TestLogin"></parameter>
        <classes>
            <class name="hillel.homework11.TestLogin" />
        </classes>
    </test>
</suite>
